/* веб шрифты */
@font-face {
	font-family: "Gilroy ExtraBold";
	src: url("../webfonts/gilroyextrabold.woff2") format("woff2");
	src: url("../webfonts/gilroyextrabold.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Gilroy Light";
	src: url("../webfonts/gilroylight.woff2") format("woff2");
	src: url("../webfonts/gilroylight.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Open Sans";
	src: url("../webfonts/opensans.woff2") format("woff2");
	src: url("../webfonts/opensans.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Open Sans Light";
	src: url("../webfonts/opensanslight.woff2") format("woff2");
	src: url("../webfonts/opensanslight.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
/*глобальные базовые стили*/
body {
	margin: 0;
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #000000;
}

img {
	max-width: 100%;
	height: auto;
}
/*стилизация по классам*/

.visually-hidden {
	display: none;
}

.main-header {
	background-color: #f7e296;
}

.user-navigation:hover,
.catalog-navigation-link:hover,
.site-navigation:hover,
.catalog-navigation-filter:hover {
	color: rgba(0, 0, 0, 0.6);
}

.header-logo:hover,
.footer-logo:hover {
	opacity: 0.6;
}

.header-logo:active,
.footer-logo:active {
	opacity: 0.3;
}

.user-profile-close,
.user-navigation:active,
.catalog-navigation-link:active,
.site-navigation:active,
.catalog-navigation-filter:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-navigation-link,
.site-navigation,
.modal-feedback,
.modal-send,
.modal-login,
.label,
.catalog-item,
.modal-enter {
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.catalog-navigation-link,
.site-navigation {
	text-transform: uppercase;
	letter-spacing: 4px;
}

.catalog-navigation-link {
	position: relative;
	padding-right: 25px;
}

.catalog-navigation-link::after {
	content: "";
	position: absolute;
	top: 4px;
	right: 0;
	width: 16px;
	height: 16px;
	background: url(..//img/plus.png) no-repeat 0 0;
}

.catalog-item-price {
	font-family: "Gilroy Light", "Arial", "Verdana", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.catalog-navigation-filter {
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 15px;
	line-height: 36px;
	color: #000000;
}

.filter-button,
.modal-send,
.modal-enter {
	display: inline-block;
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 18px;
	color: #000000;
	line-height: normal;
	text-transform: uppercase;
	letter-spacing: 5px;
	background-image: linear-gradient(to bottom, white 45%, #f0c52e 40%, #f0c52e 60%, white 55%);
	border: none;
	min-height: 40px;
}

.filter-button:hover,
.modal-send:hover,
.modal-enter:hover {
	background: #f0c52e;
}

.info,
.feedback,
.button {
	background-image: linear-gradient(to bottom, white 45%, #f0c52e 40%, #f0c52e 60%, white 55%);
}

.info,
.feedback,
.button {
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 18px;
	color: #000000;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.info {
	display: inline-block;
	padding: 8px 22px;
}

.feedback {
	display: inline-block;
	padding: 8px 41px;
}

.button:hover {
	color: #000000;
	background: #f0c52e;
}

.link:hover {
	color: #000000;
}

.link:active {
	color: rgba(0, 0, 0, 0.2);
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
	background: #f0c52e;
}

.info:hover,
.feedback:hover {
	background: #f0c52e;
}

.info:active,
.feedback:active {
	background: #f0c52e;
	color: rgba(0, 0, 0, 0.3);
}

.catalog-title,
.title {
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
}

.breadcrumbs {
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs:active {
	color: rgba(0, 0, 0, 0.1);
}

.filter-title,
.sorting-title,
.back-button,
.forward-button {
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.back-button,
.forward-button,
.pages {
	background-color: #ebebeb;
}

.back-button:hover,
.forward-button:hover {
	background-color: #d9d9d9;
}

.back-button:active,
.forward-button:active {
	background-color: #d9d9d9;
	color: rgba(0, 0, 0, 0.3);
}

.pages {
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
}

.page-1 {
	color: #000000;
}

.pages:hover {
	color: rgba(0, 0, 0, 0.6);
}

.pages:active {
	color: #000000;
}

.filter-option-list,
.blutooth-filter-option {
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 14px;
	line-height: 40px;
	color: #000000;
}

.filter-option-list:disabled,
.blutooth-filter-option:disabled {
	color: rgba(166, 166, 166, 0);
}

.filter-list {
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}

.filter-list:hover {
	color: rgba(0, 0, 0, 0.3);
}

.filter-list:active {
	color: #000000;
}

.price {
	color: #000000;
}

.no-style {
	list-style: none;
}

.main-footer {
	background-color: #464646;
	color: #ffffff;
	padding-top: 66px;
	padding-bottom: 66px;
}

.footer-user-navigation {
	color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation:hover {
	color: #ffffff;
}

.footer-user-navigation:active {
	color: rgba(255, 255, 255, 0.3);
}

.profile-close {
	color: rgba(255, 255, 255, 0.3);
}

.site-navigation-footer {
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 18px;
	color: #ffffff;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.site-navigation-footer:hover {
	color: rgba(255, 255, 255, 0.7);
}

.site-navigation-footer:active {
	color: rgba(255, 255, 255, 0.3);
}

.input-style {
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(70, 70, 70, 0.4);
	background-color: #f2f2f2;
}

.input-style:hover {
	background-color: #ebebeb;
}

.input-style:focus {
	color: #464646;
	background-color: #ffffff;
	border: 3px solid #f7e296;
}

.input-style:invalid {
	background-color: #f6dada;
}

.input-search {
	display: inline-block;
	width: 316px;
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.3);
	background: rgba(0, 0, 0, 0);
	border-style: none;
}

.input-search:hover {
	color: rgba(0, 0, 0, 0.6);
}

.input-search:focus {
	color: #000000;
	border-bottom: 2px solid black;
	outline: none;
}

.search-form {
	display: flex;
	position: relative;
	width: 400px;
	padding-left: 40px;
	justify-content: space-between;
}

.search-form::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 5px;
	width: 16px;
	height: 16px;
	background: url("../img/search.svg") no-repeat 0 0;
}

.find-button {
	display: none;
	width: 85px;
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #000000;
	background-color: #f7e296;
	border: 2px solid black;
}

.find-button:hover {
	color: #ffffff;
	background-color: #000000;
	border: none;
}

.find-button:active {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.3);
	border: none;
}
/*
.search-form:focus,
.search-form:focus::before,
.find-button:focus {
	border-bottom: 2px solid #000000;
}*/

/*временный стиль outline, удалить*/
/* {outline: 1px solid blue;}*/
/*стили макросетки*/
.container {
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
}

.centralizer {
	width: 1040px;
	margin: 0 auto 35px auto;
	padding: 0 60px 45px 60px;
}

.logo {
	margin-top: 40px;
}

.header-logo {
	position: relative;
	top: -15px;
}

.navigation {
	display: flex;
	margin-bottom: 34px;
}

.header-list {
	display: flex;
	width: 500px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	justify-content: space-between;
}

.user-navigation-enter {
	position: relative;
	margin-left: auto;
	margin-right: 197px;
	padding-left: 25px;
}

.user-navigation-enter::before {
	content: "";
	width: 15px;
	height: 10px;
	position: absolute;
	top: 5px;
	left: 0px;
	background-image: url("../img/user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-navigation-enter:hover::before,
.header-compare:hover::before,
.header-cart:hover::before,
.user-name:hover::before {
	opacity: 0.6;
}

.user-navigation-enter:active::before,
.header-compare:active::before,
.header-cart:active::before,
.user-name:active::before  {
	opacity: 0.3;
}

.user-name {
	position: relative;
	padding-left: 25px;
	margin-right: 10px;
}

.user-name::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0px;
	width: 13px;
	height: 12px;
	background: url("../img/user.svg") no-repeat 0 0;
}

.header-profile-close {
	margin-left: -30px;
	margin-right: 30px;
}

.header-compare,
.header-cart {
	position: relative;
	padding-left: 25px;
}

.header-compare::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 10px;
	height: 10px;
	background: url("../img/compare.svg") no-repeat 0 0;
}

.header-cart::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0px;
	width: 12px;
	height: 12px;
	background: url("../img/cart.svg") no-repeat 0 0;
}

.main-navigation {
	display: flex;
	margin-bottom: 5px;
}

.catalog-navigation {
	position: relative;
	display: flex;
	width: 265px;
	margin: 0;
	padding: 0;
	margin-right: 275px;
}

.info-list {
	display: flex;
	margin: 0;
	padding: 0;
	margin-left: auto;
	width: 500px;
}

.delivery {
	margin-right: 38px;
}

.contacts-link {
	margin-left: auto;
}

.menu-list {
	display: none;
	position: absolute;
	z-index: 2;
	top: 30px;
	left: -60px;
	width: 1100px;
	min-height: 115px;
	margin: 0;
	padding: 35px 0 35px 60px;
	margin-left: auto;
	background-color: #f8e296;
}

.catalog-navigation:hover .menu-list {
	display: flex;
}

.menu-list-option {
	display: flex;
	flex-direction: column;
	margin-right: 59px;
}

.menu-list-option:nth-of-type(2) {
	margin-right: 77px;
}

.information {
	display: flex;
	margin-bottom: 75px;
	justify-content: space-between;
}

.about-us {
	width: 500px;
}

.contacts {
	width: 560px;
}

.decoration-line {
	display: inline-block;
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.title {
	margin-bottom: 40px;
}

.list {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 61px;
	padding-bottom: 0;
	padding-top: 0;
	padding-right: 0;
	padding-left: 35px;
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", sans-serif;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
	list-style: circle;
}

.paragraph {
	margin: 0;
	padding: 0;
}

.paragraph-1 {
	margin-bottom: 29px;
}

.paragraph-2 {
	margin-bottom: 67px;
}

.modal-map {
	margin-bottom: 77px;
}

.contacts {
	position: relative;
}

.modal-map::before {
	display: none;
	content: "";
	position: absolute;
	top: 50px;
	right: 100px;
	width: 960px;
	height: 559px;
	background: url("../img/map-big.jpg") no-repeat 0 0;
}

.modal-map:active::before,
.modal-map:active::after  {
	display: block;
}

.modal-map::after {
	display: none;
	content: "";
	position: absolute;
	top: 72px;
	right: 122px;
	width: 55px;
	height: 55px;
	background: url("../img/modal-close.svg") no-repeat 0 0;
	opacity: 0.5;
}

.main-footer-style {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.footer-list,
.footer-list-1,
.social-links {
	margin: 0;
	padding: 0;
}

.footer-list {
	position: relative;
	display: flex;
	width: 360px;
}

.footer-list-catalog {
	display: flex;
	width: 480px;
}

.main-footer-middle {
	display: flex;
	justify-content: space-between;
	margin-bottom: 64px;
}

.footer-list-1 {
	display: flex;
	width: 440px;
	justify-content: space-between;
}

.address {
	width: 300px;
	font-style: normal;
}

.phone-number {
	margin: 0;
	padding-left: 0;
	width: 300px;
	text-align: right;
}

.footer-social {
	display: flex;
	justify-content: space-between;
}

.social-links {
	display: flex;
	width: 160px;
	justify-content: space-around;
	margin-right: 47px;
}

.footer-decoration-line {
	display: inline-block;
	margin-top: 13px;
	width: 80px;
	height: 7px;
	margin-right: 12px;
	background-color: #ffc600;
}

.footer-user-enter {
	display: inline-block;
	width: 77px;
	padding-left: 28px;
	margin-right: 42px;
	text-align: right;
}

.footer-user-enter::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 35px;
	width: 13px;
	height: 12px;
	background: url(../img/user-footer.svg) no-repeat 0 0;
}

.footer-user-enter:hover::before,
.footer-compare:hover::before,
.footer-cart:hover::before,
.footer-profile:hover::before,
.footer-compare-catalog:hover::before  {
	opacity: 0.6;
}

.footer-user-enter:active::before,
.footer-compare:active::before,
.footer-cart:active::before,
.footer-profile:active::before,
.footer-compare-catalog:active::before  {
	opacity: 0.3;
}

.footer-compare::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 148px;
	width: 10px;
	height: 10px;
	background: url(../img/compare-footer.svg) no-repeat 0 0;
}

.footer-compare {
	display: inline-block;
	width: 90px;
	padding-left: 22px;
	text-align: left;
}

.footer-compare-catalog::before {
	content: "";
	position: absolute;
	top: 10px;
	right: 202px;
	width: 10px;
	height: 10px;
	background: url(../img/compare-footer.svg) no-repeat 0 0;
}

.footer-compare-catalog {
	display: inline-block;
	width: 90px;
	padding-left: 22px;
	text-align: left;
}

.footer-cart::before {
	content: "";
	position: absolute;
	top: 9px;
	right: 70px;
	width: 12px;
	height: 12px;
	background: url(../img/cart-footer.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-cart {
	display: inline-block;
	width: 75px;
	padding-left: 30px;
	text-align: right;
}

.footer-profile::before  {
	content: "";
	position: absolute;
	top: 9px;
	left: 0px;
	width: 13px;
	height: 12px;
	background: url(../img/user-footer.svg) no-repeat 0 0;
}

.footer-profile {
	display: inline-block;
	width: 152px;
	padding-left: 28px;
	text-align: left;
}

.profile-close {
	display: inline-block;
	width: 88px;
	text-align: left;
}

.social {
	display: inline-block;
	width: 34px;
	height: 32px;
	margin-right: 22px;
	background: url("../img/sprite.png") no-repeat 0 0;
	opacity: 0.3;
}

.instagram {
	background-position: -55px 0;
}

.twitter {
	background-position: -109px 0;
}

.social:hover,
.logo-htmlacademy:hover {
	opacity: 0.6;
}

.social:active {
	opacity: 0.1;
}

.logo-htmlacademy:active {
	opacity: 0.3;
}

.logo-htmlacademy {
	display: block;
	width: 27px;
	height: 34px;
	background: url("../img/logo-html.svg") no-repeat 0 0;
}
/*сетка основного контента каталога*/
.breadcrumbs-style {
	display: flex;
	flex-direction: column;
	width: 500px;
	padding-left: 60px;
	margin-bottom: 43px
}

.catalog-title {
	display: inline-block;
	margin: 0;
	margin-bottom: 20px;
}

.breadcrumbs-list {
	display: flex;
	justify-content: space-between;
	width: 400px;
	margin: 0;
	padding: 0;
}

.breadcrumbs-current {
	padding-right: 17px;
}

.main-content {
	display: flex;
	justify-content: center;
}

.filter-option-list,
.product-list,
.blutooth-filter-option {
	margin: 0;
	padding: 0;
}

.filter-menu {
	width: 202px;
	margin: 0;
	padding: 0;
	padding-left: 60px;
	padding-right: 67px;
	margin-right: 73px;
}

.filter-title {
	display: inline-block;
	margin-bottom: 70px;
	margin-top: 0;
	min-height: 47px;
	padding-top: 23px;
}

.filter-title,
.sorting-title {
	font-weight: 400;
}

.filter-form {
	display: flex;
	flex-direction: column;
}

.label {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 17px;
	border-top: 2px solid black;
}

.price-range-filter {
	border: none;
	min-height: 140px;
	padding: 0;
}

.color-filter {
	border: none;
	min-height: 286px;
	padding: 0;
}

/*спросить у Макса!
.input {
	position: absolute;
	opacity: 0;
}

.checkbox-container {
	position: relative;
}

.checkbox-style {
	padding-left: 30px;
}

.checkbox-style::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	display: inline-block;
	cursor: pointer;
	width: 23px;
	height: 23px;
	border: 2px solid #000000;
	border-radius: 5px 5px;
}

.checkbox-style:hover::before,
.checkbox-style:hover {
	border-color: rgba(0, 0, 0, 0.6);
	color: rgba(0, 0, 0, 0.6);
}

.checkbox-style:checked::before,
.checkbox-style:checked {
	display: inline-block;
	width: 12px;
	height: 7px;
	background: url(../img/tick.png) no-repeat 0 0;
}*/

.blutooth-filter {
	border: none;
	min-height: 175px;
	padding: 0;
}

.catalog {
	display: flex;
	flex-direction: column;
	width: 760px;
	min-height: 1215px;
}

.sorting {
	display: flex;
	width: 760px;
	padding: 0;
	margin: 0;
	min-height: 70px;
	margin-bottom: 75px;
}

.product-list {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	min-height: 52px;
	padding-top: 18px;
}

.sorting-title {
	width: 180px;
	text-align: left;
	min-height: 47px;
	padding-top: 23px;
	margin: 0;
	margin-right: 20px;
}

.sorting-arrows {
	width: 240px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.all-items {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.catalog-item {
	width: 260px;
	padding-top: 20px;
	min-height: 94px;
}

.ci-2 {
	width: 180px;
}

.catalog-item-price {
	width: 80px;
	margin-top: 20px;
	text-align: right;
}

.items-paragraph {
	margin: 0;
	padding: 0;
}

.cart-or-compare {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.cart-btn {
	display: inline-block;
	width: 200px;
	min-height: 35px;
	background-image: linear-gradient(to bottom, rgba(238,238,238,0) 35%, #f0c52e 45%, #f0c52e 55%, rgba(238,238,238,0) 65%);
	text-align: center;
	padding-top: 15px;
	margin-bottom: 15px;
}

.link {
	display: inline-block;
	width: 200px;
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.catalog-list-position {
	position: relative;
}

.catalog-list-position:hover .cart-or-compare  {
	display: block;
}

.cart-or-compare {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 80px;
	padding: 150px 80px;
	background-color: rgba(238,238,238,0.7);
	z-index:10;
}

.pagination {
	display: flex;
	justify-content: space-between;
	background-color: #ebebeb;
}

.back-button,
.forward-button {
	width: 133px;
	height: 70px;
	border: none;
}

.pagination-style {
	display: flex;
	width: 114px;
	height: 70px;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
}

/* МОДАЛЬНЫЕ ОКНА - СЕТКА */

/*.feedback-section {
	position: absolute;
	top: 30px;
	left: 220px;
	background-color: #252525;
}
*/
.write-us {
	display: flex;
	flex-direction: column;
	width: 760px;
	height: 372px;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 95px;
	padding-bottom: 86px;
}

.modal-feedback {
	display: flex;
	flex-direction: column;
	width: 360px;
	margin: 0;
	padding: 0;
}

.feedback-column {
	display: flex;
}

.name {
	margin-right: 40px;
}

.inputs {
	min-height: 50px;
	box-sizing: border-box;
}

.inputs-label {
	min-height: 30px;
}

.textarea-label {
	min-height: 30px;
}

.feedback-textarea {
	margin-top: 33px;
	width: 760px;
	margin-bottom: 50px;
}

.modal-send,
.modal-close,
.modal-enter {
	width: 200px;
}

.popup-login {
	display: flex;
	flex-direction: column;
	width: 300px;
	padding: 20px;
}

.modal-login {
	display: flex;
	flex-direction: column;
}

.input-login {
	box-sizing: border-box;
}

