/* веб шрифты */
@font-face {
	font-family: "Gilroy ExtraBold";
	src: url("../webfonts/gilroyextrabold.woff2") format("woff2");
	src: url("../webfonts/gilroyextrabold.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Gilroy Light";
	src: url("../webfonts/gilroylight.woff2") format("woff2");
	src: url("../webfonts/gilroylight.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Open Sans";
	src: url("../webfonts/opensans.woff2") format("woff2");
	src: url("../webfonts/opensans.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Open Sans Light";
	src: url("../webfonts/opensanslight.woff2") format("woff2");
	src: url("../webfonts/opensanslight.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
/*глобальные базовые стили*/
body {
	margin: 0;
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #000000;
}

img {
	max-width: 100%;
	height: auto;
}
/*стилизация по классам*/

.visually-hidden {
	display: none;
}

.main-header {
	background-color: #f7e296;
	padding: 0 60px 45px 60px;
	margin-bottom: 46px;
}

.main-header-index {
	margin-bottom: 35px;
}

.user-navigation:hover,
.catalog-navigation-link:hover,
.site-navigation:hover,
.catalog-navigation-filter:hover {
	color: rgba(0, 0, 0, 0.6);
}

.header-logo:hover,
.footer-logo:hover {
	opacity: 0.6;
}

.header-logo:active,
.footer-logo:active {
	opacity: 0.3;
}

.user-profile-close,
.user-navigation:active,
.catalog-navigation-link:active,
.site-navigation:active,
.catalog-navigation-filter:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-navigation-link,
.site-navigation,
.modal-feedback,
.modal-send,
.modal-login,
.label,
.catalog-item,
.modal-enter,
.popular-link {
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.site-navigation-contacts {
	padding-left: 105px;
}

.catalog-navigation-link,
.site-navigation {
	text-transform: uppercase;
	letter-spacing: 4px;
}

.catalog-navigation-link {
	position: relative;
	display: inline-block;
	padding-right: 21px;
}

.catalog-navigation-link::after {
	content: "";
	position: absolute;
	top: 4px;
	right: 0;
	width: 16px;
	height: 16px;
	background: url("../img/plus.png") no-repeat 0 0;
}

.catalog-item-price {
	font-family: "Gilroy Light", "Arial", "Verdana", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.catalog-navigation-filter {
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 15px;
	line-height: 36px;
	color: #000000;
}

.filter-button,
.modal-send,
.modal-enter {
	display: inline-block;
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 18px;
	color: #000000;
	line-height: normal;
	text-transform: uppercase;
	letter-spacing: 5px;
	background-image: linear-gradient(to bottom, #ffffff 45%, #f0c52e 40%, #f0c52e 60%, #ffffff 55%);
	border: none;
	min-height: 40px;
}

.filter-button:hover,
.modal-send:hover,
.modal-enter:hover {
	background: #f0c52e;
}

.filter-button {
	background-image: linear-gradient(to bottom, #eeeeee 45%, #f0c52e 40%, #f0c52e 60%, #eeeeee 55%);
}

.info,
.feedback,
.button {
	background-image: linear-gradient(to bottom, white 45%, #f0c52e 40%, #f0c52e 60%, white 55%);
}

.info,
.feedback,
.button,
.sales {
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 18px;
	color: #000000;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.info {
	display: inline-block;
	padding: 8px 22px;
}

.feedback {
	display: inline-block;
	padding: 8px 41px;
}

.button:hover {
	color: #000000;
	background: #f0c52e;
}

.link:hover {
	color: #000000;
}

.link:active {
	color: rgba(0, 0, 0, 0.2);
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
	background: #f0c52e;
}

.info:hover,
.feedback:hover {
	background: #f0c52e;
}

.info:active,
.feedback:active {
	background: #f0c52e;
	color: rgba(0, 0, 0, 0.3);
}

.catalog-title,
.title,
.delivery-head,
.warranty-head,
.credit-head {
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 47px;
	/*line-height: 48px;*/
	color: #000000;
}

.breadcrumbs {
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs:active {
	color: rgba(0, 0, 0, 0.1);
}

.filter-title,
.sorting-title,
.back-button,
.forward-button {
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.back-button,
.forward-button,
.pages {
	background-color: #ebebeb;
}

.back-button:hover,
.forward-button:hover {
	background-color: #d9d9d9;
}

.back-button:active,
.forward-button:active {
	background-color: #d9d9d9;
	color: rgba(0, 0, 0, 0.3);
}

.pages {
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
}

.page-1 {
	color: #000000;
}

.pages:hover {
	color: rgba(0, 0, 0, 0.6);
}

.pages:active {
	color: #000000;
}

.filter-option-list,
.blutooth-filter-option {
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 14px;
	line-height: 40px;
	color: #000000;
}

.filter-option-list:disabled,
.blutooth-filter-option:disabled {
	color: rgba(166, 166, 166, 0);
}

.filter-list {
	display: inline-block;
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}

.filter-list:hover {
	color: rgba(0, 0, 0, 0.6);
}

.filter-list:active,
.current-price {
	color: #000000;
}

.no-style {
	list-style: none;
}

.main-footer {
	background-color: #464646;
	color: #ffffff;
	padding-top: 66px;
	padding-bottom: 66px;
}

.footer-user-navigation {
	color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation:hover {
	color: #ffffff;
}

.footer-user-navigation:active {
	color: rgba(255, 255, 255, 0.3);
}

.profile-close {
	color: rgba(255, 255, 255, 0.3);
}

.site-navigation-footer {
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 18px;
	color: #ffffff;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.site-navigation-footer:hover {
	color: rgba(255, 255, 255, 0.7);
}

.site-navigation-footer:active {
	color: rgba(255, 255, 255, 0.3);
}

.input-style {
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(70, 70, 70, 0.4);
	background-color: #f2f2f2;
}

.input-style:hover {
	background-color: #ebebeb;
}

.input-style:focus {
	color: #464646;
	background-color: #ffffff;
	border: 3px solid #f7e296;
}

.input-style:invalid {
	background-color: #f6dada;
}

.input-search {
	display: inline-block;
	width: 316px;
	height: 49px;
	padding-left: 39px;
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.3);
	background: transparent;
	border-style: none;
	border-bottom: 2px solid transparent;
}

.input-search:hover {
	color: rgba(0, 0, 0, 0.6);
}

.input-search:focus {
	color: #000000;
	border-bottom: 2px solid black;
	outline: none;
}

.input-search:focus + .find-button {
	display: inline-block;
}

.search-form {
	position: relative;
	display: flex;
	align-items: flex-end;
	width: 440px;
}

.search-form::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 3px;
	width: 16px;
	height: 16px;
	background: url("../img/search.svg") no-repeat 0 0;
}

.find-button {
	display: none;
	width: 85px;
	height: 49px;
	margin-top: -12px;
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #000000;
	background-color: #f7e296;
	border: 2px solid black;
}

.find-button:hover {
	color: #ffffff;
	background-color: #000000;
	border: none;
}

.find-button:active {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.3);
	border: none;
}

/*временный стиль outline, удалить*/
/* {outline: 1px solid blue;}*/
/*стили макросетки*/
.container {
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
}

.logo {
	margin-top: 39px;
}

.header-logo {
	position: relative;
	top: -15px;
}

.logo-index {
	top: -17px;
}

.navigation {
	display: flex;
	align-items: center;
	margin-bottom: 23px;
	margin-top: -10px;
}

.header-list {
	display: flex;
	width: 500px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	justify-content: space-between;
}

.user-navigation-enter {
	position: relative;
	margin-left: auto;
	margin-right: 197px;
	padding-left: 25px;
}

.index-perfect {
	margin-right: 175px;
}

.user-navigation-enter::before {
	content: "";
	width: 15px;
	height: 10px;
	position: absolute;
	top: 5px;
	left: 0;
	background-image: url("../img/user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-navigation-enter:hover::before,
.header-compare:hover::before,
.header-cart:hover::before,
.user-name:hover::before {
	opacity: 0.6;
}

.user-navigation-enter:active::before,
.header-compare:active::before,
.header-cart:active::before,
.user-name:active::before  {
	opacity: 0.3;
}

.user-name {
	position: relative;
	padding-left: 25px;
	margin-right: 17px;
}

.user-name::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 13px;
	height: 12px;
	background: url("../img/user.svg") no-repeat 0 0;
}

.header-profile-close {
	margin-left: -30px;
	margin-right: 17px;
}

.header-compare,
.header-cart {
	position: relative;
	padding-left: 25px;
}

.header-compare::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 6px;
	width: 10px;
	height: 10px;
	background: url("../img/compare.svg") no-repeat 0 0;
}

.header-cart::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 5px;
	width: 12px;
	height: 12px;
	background: url("../img/cart.svg") no-repeat 0 0;
}

.main-navigation {
	display: flex;
	margin-bottom: 2px;
}

.catalog-navigation {
	position: relative;
	display: flex;
	width: 265px;
	margin: 0;
	padding: 0;
	margin-right: 275px;
}

.info-list {
	display: flex;
	margin: 0;
	padding: 0;
	margin-left: auto;
	width: 500px;
}

.delivery {
	margin-right: 31px;
}

.warranty-index {
	margin-right: 105px;
}

.contacts-link {
	margin-left: auto;
}

.menu-list {
	display: none;
	position: absolute;
	z-index: 2;
	top: 30px;
	left: -60px;
	width: 1100px;
	min-height: 115px;
	margin: 0;
	padding: 35px 0 45px 60px;
	background-color: #f8e296;
	z-index: 15;
}

.catalog-navigation:hover .menu-list {
	display: flex;
}

.menu-list-option {
	display: flex;
	flex-direction: column;
	margin-right: 59px;
}

.menu-list-option:nth-of-type(2) {
	margin-right: 77px;
}

.information {
	display: flex;
	margin-bottom: 82px;
	justify-content: space-between;
}

.about-us {
	width: 500px;
}

.contacts {
	width: 560px;
}

.decoration-line {
	display: inline-block;
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.title-information {
	margin: 0;
	padding: 0;
	margin-top: 37px;
	margin-bottom: 41px;
	line-height: 48px;
}

.list {
	margin: 0 0 55px 0;
	padding: 0 0 0 16px;
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", sans-serif;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
	list-style: circle;
}

.marker {
	padding-left: 19px;
}

.paragraph {
	margin: 0;
	padding: 0;
}

.paragraph-1 {
	margin-bottom: 29px;
}

.paragraph-before-map {
	margin-bottom: 39px;
}

.paragraph-2 {
	margin-bottom: 67px;
}

.modal-map {
	margin-bottom: 61px;
}

.contacts {
	position: relative;
}

.modal-map::before {
	display: none;
	content: "";
	position: fixed;
	top: 50px;
	right: 100px;
	width: 960px;
	height: 559px;
	background: url("../img/map-big.jpg") no-repeat 0 0;
	z-index: 6;
}

.modal-map::after {
	display: none;
	content: "";
	position: fixed;
	top: 72px;
	right: 122px;
	width: 55px;
	height: 55px;
	background: url("../img/modal-close.svg") no-repeat 0 0;
	opacity: 0.5;
	z-index: 7;
}

.main-footer-style {
	display: flex;
	justify-content: space-between;
	margin-bottom: 21px;
}

.footer-list,
.footer-list-1,
.social-links {
	margin: 0;
	padding: 0;
}

.footer-list {
	position: relative;
	display: flex;
	width: 360px;
}

.footer-list-catalog {
	display: flex;
	width: 480px;
}

.main-footer-middle {
	display: flex;
	justify-content: space-between;
	margin-bottom: 64px;
}

.footer-list-1 {
	display: flex;
	width: 430px;
	justify-content: space-between;
}

.address {
	width: 300px;
	font-style: normal;
	margin-right: 5px;
}

.phone-number {
	margin: 0;
	padding-left: 0;
	width: 300px;
	text-align: right;
}

.footer-social {
	display: flex;
	justify-content: space-between;
}

.social-links {
	display: flex;
	width: 160px;
	justify-content: space-around;
	margin-right: 47px;
}

.footer-decoration-line {
	display: inline-block;
	margin-top: 13px;
	width: 80px;
	height: 7px;
	margin-right: 12px;
	background-color: #ffc600;
}

.footer-user-enter {
	display: inline-block;
	width: 77px;
	padding-left: 28px;
	margin-right: 42px;
	text-align: right;
}

.footer-user-enter::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 35px;
	width: 13px;
	height: 12px;
	background: url("../img/user-footer.svg") no-repeat 0 0;
}

.footer-user-enter:hover::before,
.footer-compare:hover::before,
.footer-cart:hover::before,
.footer-profile:hover::before,
.footer-compare-catalog:hover::before  {
	opacity: 0.6;
}

.footer-user-enter:active::before,
.footer-compare:active::before,
.footer-cart:active::before,
.footer-profile:active::before,
.footer-compare-catalog:active::before  {
	opacity: 0.3;
}

.footer-compare::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 148px;
	width: 10px;
	height: 10px;
	background: url("../img/compare-footer.svg") no-repeat 0 0;
}

.footer-compare {
	display: inline-block;
	width: 90px;
	padding-left: 22px;
	text-align: left;
}

.footer-compare-catalog::before {
	content: "";
	position: absolute;
	top: 10px;
	right: 202px;
	width: 10px;
	height: 10px;
	background: url("../img/compare-footer.svg") no-repeat 0 0;
}

.footer-compare-catalog {
	display: inline-block;
	width: 90px;
	padding-left: 22px;
	text-align: left;
}

.footer-cart::before {
	content: "";
	position: absolute;
	top: 9px;
	right: 70px;
	width: 12px;
	height: 12px;
	background: url("../img/cart-footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-cart {
	display: inline-block;
	width: 75px;
	padding-left: 30px;
	text-align: right;
}

.footer-profile::before  {
	content: "";
	position: absolute;
	top: 9px;
	left: 0;
	width: 13px;
	height: 12px;
	background: url("../img/user-footer.svg") no-repeat 0 0;
}

.footer-profile {
	display: inline-block;
	width: 152px;
	padding-left: 28px;
	text-align: left;
}

.profile-close {
	display: inline-block;
	width: 88px;
	text-align: left;
}

.social {
	display: inline-block;
	width: 34px;
	height: 32px;
	margin-right: 22px;
	background: url("../img/sprite.png") no-repeat 0 0;
	opacity: 0.3;
}

.instagram {
	background-position: -55px 0;
}

.twitter {
	background-position: -109px 0;
}

.social:hover,
.logo-htmlacademy:hover {
	opacity: 0.6;
}

.social:active {
	opacity: 0.1;
}

.logo-htmlacademy:active {
	opacity: 0.3;
}

.logo-htmlacademy {
	display: block;
	width: 27px;
	height: 34px;
	background: url("../img/logo-html.svg") no-repeat 0 0;
}
/*сетка основного контента каталога*/
.breadcrumbs-style {
	display: flex;
	flex-direction: column;
	/*width: 500px;*/
	padding-left: 60px;
	margin-bottom: 43px
}

.catalog-title {
	display: inline-block;
	margin: 0;
	margin-bottom: 29px;
}

.breadcrumbs-list {
	display: flex;
	margin: 0;
	padding: 0;
}

.breadcrumbs-element {
	position: relative;
	padding-right: 37px;
}

.breadcrumbs-element a[href]::after,
.breadcrumbs-element a[href]::before {
	content: "";
	position: absolute;
	width: 5px;
	height: 1px;
	background-color: #000000;
}

.breadcrumbs-element a[href]::after {
	top: 14px;
	right: 19px;
	transform: rotate(45deg);
}

.breadcrumbs-element a[href]::before {
	top: 17px;
	right: 19px;
	transform: rotate(-45deg);
}

.breadcrumbs-current {
	padding-right: 17px;
}

.main-content {
	display: flex;
}

.catalog-menu-header {
	display: flex;
	padding: 0;
	background-color: #efefef;
}

.filter-header {
	width: calc(50% - 250px);
	margin: 0;
	text-align: right;
	background-color: #dcdcdc;
}

.sorting-header {
	display: flex;
	justify-content: space-between;
	width: 830px;
	margin: 0;
	padding: 0;
}

.filter-option-list,
.product-list,
.blutooth-filter-option {
	margin: 0;
	padding: 0;
}

.filter-menu {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: calc(50% - 250px);
	margin: 0;
	padding: 0;
	padding-top: 70px;
	background-color: #efefef;
}

.filter-title {
	display: inline-block;
	margin-top: 0;
	padding: 23px 181px 0 0;
}

.filter-title,
.sorting-title {
	font-weight: 400;
}

.filter-form {
	display: flex;
	flex-direction: column;
	width: 200px;
	padding-right: 70px;
}

.label {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 17px;
	border-top: 2px solid black;
}
/*чекбоксы изменение начало*/
.color-filter {
	border: none;
	min-height: 286px;
	padding: 0;
}

.input {
	position: absolute;
	opacity: 0;
}

.checkbox-container {
	position: relative;
}

.checkbox-style {
	padding-left: 35px;
}

.checkbox-style::before {
	content: "";
	position: absolute;
	top: 9px;
	left: -3px;
	display: inline-block;
	cursor: pointer;
	width: 19px;
	height: 19px;
	border: 2px solid #000000;
	border-radius: 3px 3px;
}

.checkbox-style::after {
	content: "";
	position: absolute;
	display: none;
	top: 5px;
	left: 5px;
	border: solid #000000;
	border-width: 0 5px 5px 0;
	padding: 8px 4px;
	transform: rotate(45deg);
}

.checkbox-style:hover::before,
.checkbox-style:hover::after,
.checkbox-style:hover {
	border-color: rgba(0, 0, 0, 0.6);
	color: rgba(0, 0, 0, 0.6);
}

.checkbox-style:active::before,
.checkbox-style:active::after,
.checkbox-style:active {
	border-color: #000000;
	color: #000000;
}

.input:checked ~ .checkbox-style::after {
	display: block;
}

.input:checked ~ .checkbox-style:active::before {
	border: 2px solid #000000;
}

.input:disabled ~ .checkbox-style::after,
.input:disabled ~ .checkbox-style::before,
.input:disabled ~ .checkbox-style {
	border-color: rgba(0, 0, 0, 0.3);
	color: rgba(0, 0, 0, 0.3);
}
/*чекбоксы изменение конец*/
/*радио кнопки начало*/
.blutooth-filter {
	border: none;
	min-height: 165px;
	padding: 0;
}

.radio-btn-option {
	position: relative;
}

.radio-btn {
	position: absolute;
	opacity: 0;
}

.radio-button {
	padding-left: 35px;
}

.radio-button::before {
	content: "";
	position: absolute;
	top: 7px;
	left: -4px;
	display: inline-block;
	cursor: pointer;
	width: 16px;
	height: 15px;
	border: 5px solid #000000;
	border-radius: 50% 50%;
}

.radio-button::after {
	display: none;
	content: "";
	position: absolute;
	top: 15px;
	left: 4px;
	cursor: pointer;
	width: 9px;
	height: 9px;
	background-color: #000000;
	border-radius: 50% 50%;
}

.radio-btn:checked + .radio-button::after {
	display: inline-block;
}

.radio-btn:checked + .radio-button:hover::after {
	background-color: rgba(0, 0, 0, 0.6);
}

.radio-button:hover {
	color: rgba(0, 0, 0, 0.6);
}

.radio-btn:checked + .radio-button:hover::before,
.radio-button:hover::before {
	border: 5px solid rgba(0, 0, 0, 0.6);
}

.radio-btn:checked + .radio-button:active::before,
.radio-button:active::before {
	border: 5px solid #000000;
}

.radio-button:active::after {
	background-color: #000000;
}

.radio-btn:disabled + .radio-button::after {
	background-color: rgba(0, 0, 0, 0.25);
}

.radio-btn:disabled + .radio-button::before {
	border: 5px solid rgba(0, 0, 0, 0.25);
}
/*радио кнопки конец*/
.catalog {
	display: flex;
	flex-direction: column;
	width: 760px;
	padding-left: 70px;
	padding-top: 70px;
}

.sorting {
	display: flex;
	width: 760px;
	padding: 0;
	margin: 0;
}

.product-list {
	display: flex;
	justify-content: space-between;
	width: 287px;
	margin: 0;
	padding: 0;
	margin-right: 32px;
	min-height: 52px;
	padding-top: 18px;
}

.sorting-title {
	width: 180px;
	text-align: left;
	padding: 23px 0 0 73px;
	margin: 0;
	margin-right: 55px;
}

.sorting-arrows {
	display: flex;
	width: 240px;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: flex-end;
	align-items: center;
}

.up,
.down {
	display: inline-block;
	margin-left: 20px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.up {
	border-bottom: 10px solid #c3c2c2;
}

.down {
	border-top: 10px solid #c3c2c2;
}

.up:hover {
	border-bottom: 10px solid #a7a5a6;
}

.down:hover {
	border-top: 10px solid #a7a5a6;
}

.up:active {
	border-bottom: 10px solid #231f20;
}

.down:active {
	border-top: 10px solid #231f20;
}

.down-checked {
	border-top: 10px solid #000000;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: -6px;
	padding: 0;
	justify-content: space-between;
}

.all-items {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.catalog-item {
	width: 260px;
	padding-top: 24px;
	min-height: 91px;
}

.catalog-item-new {
	position: relative;
}

.catalog-item-new::before {
	content: "new";
	position: absolute;
	top: 52px;
	right: 43px;
	color: rgba(0, 0, 0, 0.2);
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
}

.catalog-item-new::after {
	content: "";
	position: absolute;
	top: 34px;
	right: 30px;
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0.2);
}

.ci-2 {
	width: 180px;
}

.catalog-item-price {
	width: 80px;
	margin-top: 24px;
	text-align: right;
}

.items-paragraph {
	margin: 0;
	padding: 0;
}

.cart-or-compare {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.cart-btn {
	display: inline-block;
	width: 200px;
	min-height: 35px;
	background-image: linear-gradient(to bottom, transparent 45%, #f0c52e 40%, #f0c52e 60%, transparent 55%);
	text-align: center;
	padding-top: 15px;
	margin-bottom: 15px;
}

.link {
	display: inline-block;
	width: 200px;
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.catalog-list-position {
	position: relative;
}

.catalog-list-position:hover .cart-or-compare  {
	display: block;
}

.cart-or-compare {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 80px;
	padding: 150px 80px;
	background-color: rgba(238,238,238,0.7);
	z-index: 3;
}

.pagination {
	display: flex;
	justify-content: space-between;
	background-color: #ebebeb;
	margin-bottom: 76px;
}

.back-button,
.forward-button {
	width: 133px;
	height: 70px;
	border: none;
}

.pagination-style {
	display: flex;
	width: 114px;
	height: 70px;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
}

/* МОДАЛЬНЫЕ ОКНА - СЕТКА */

.feedback-section {
	display: none;
	position: fixed;
	top: 20%;
	left: 22%;
	width: 960px;
	min-height: 553px;
	background-color: #ffffff;
	z-index: 4;
}

.write-us {
	display: flex;
	flex-direction: column;
	width: 760px;
	height: 372px;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 95px;
	padding-bottom: 86px;
}

.modal-feedback {
	display: flex;
	flex-direction: column;
	width: 360px;
	margin: 0;
	padding: 0;
}

.feedback-column {
	display: flex;
}

.name {
	margin-right: 40px;
}

.inputs {
	min-height: 50px;
	box-sizing: border-box;
}

.inputs-label {
	min-height: 30px;
}

.textarea-label {
	min-height: 30px;
}

.feedback-textarea {
	margin-top: 33px;
	width: 760px;
	margin-bottom: 50px;
}

.modal-send,
.modal-close,
.modal-enter {
	width: 200px;
}

.log-in {
	display: none;
	position: fixed;
	top: 15%;
	right: 25%;
	width: 420px;
	background-color: #ffffff;
	box-shadow: 0 1px 5px 1px #ffc600;
	z-index: 5;
}

.popup-login {
	display: flex;
	flex-direction: column;
	width: 300px;
	padding: 20px 60px;
}

.modal-login {
	display: flex;
	flex-direction: column;
}

.input-login {
	box-sizing: border-box;
}

/*СЛАЙДЕР*/
.slider {
	position: relative;
	overflow: hidden;
	margin-bottom: 93px;
	margin-top: -45px;
	background-image: linear-gradient(to bottom, #f7e296 24%, #ffffff 24%, #ffffff 76%);
}

.white-line {
	position: relative;
}

.white-line::after {
	content: "";
	position: absolute;
	top: 50px;
	left: 600px;
	display: inline-block;
	width: 100px;
	height: 7px;
	background-color: #ffffff;
	z-index: 10;
}

.slider-slides {
	display: flex;
	justify-content: space-between;
}

.slider-inner {
	width: 300%;
}

.slider-slides-1,
.slider-slides-2,
.slider-slides-3 {
	width: 1160px;
	height: 500px;
	float: left;
}

.img-info {
	width: 560px;
	position: relative;
}

.slide-img {
	width: 470px;
}

.slide-img-1 {
	padding-left: 90px;
}

.slide-img-2 {
	padding-left: 115px;
}

.slide-img-3 {
	padding-left: 30px;
}

.item-property {
	border-collapse: collapse;
}

.slider-radio {
	display: none;
}

.slider-controls {
	display: flex;
	width: 80px;
	justify-content: space-between;
}

.slider-controls .slider-label {
	position: relative;
	top: 336px;
	left: 1000px;
	display: inline-block;
	margin: 0;
	width: 10px;
	height: 10px;
	border: 1px solid #000000;
	border-radius: 50%;
	cursor: pointer;
	z-index: 15;
}

.slider-label::after {
	content: "";
	position: absolute;
	top: 26%;
	left: 25%;
	display: none;
	margin: 0;
	width: 3px;
	height: 3px;
	border: 1px solid #000000;
	border-radius: 50%;
}

.slider-radio-1:checked ~ .slider-controls .slider-label[for="btn-1"]::after,
.slider-radio-2:checked ~ .slider-controls .slider-label[for="btn-2"]::after,
.slider-radio-3:checked ~ .slider-controls .slider-label[for="btn-3"]::after {
	display: inline-block;
}

.slider-radio-1:checked ~ .slider-slides-1 {
	transform: translate(0);
}

.slider-radio-2:checked ~ .slider-slides-2,
.slider-radio-2:checked ~ .slider-slides-1,
.slider-radio-3:checked ~ .slider-slides-1  {
	transform: translate(-1160px);
}

.slider-radio-3:checked ~ .slider-slides-3 {
	transform: translate(-2320px);
}

.slider-head {
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 47px;
	line-height: 56px;
	color: #000000;
	margin: 80px 0 18px 0;
	padding: 0;
	display: inline-block;
	position: relative;
	z-index: 2;
}

.slider-head-one::after {
	content: "01";
	position: absolute;
	top: -13px;
	left: 330px;
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 179.2px;
	color: #ffffff;
	line-height: 179.2px;
}

.slider-head-two::after {
	content: "02";
	position: absolute;
	top: -13px;
	left: 300px;
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 179.2px;
	color: #ffffff;
	line-height: 179.2px;
}

.slider-head-three::after {
	content: "03";
	position: absolute;
	top: -13px;
	left: 300px;
	font-family: "Gilroy ExtraBold", "Arial", "Verdana", serif;
	font-size: 179.2px;
	color: #ffffff;
	line-height: 179.2px;
}

.slider-text {
	margin: 0;
	margin-bottom: 43px;
	padding: 0;
}

.property-info {
	position: relative;
	margin: 0;
	margin-bottom: 48px;
	padding: 8px 43px;
}

.item-property-style {
	font-family: "Gilroy Light", "Arial", "Verdana", sans-serif;
	font-size: 36px;
	line-height: 48px;
	color: #000000;
}

.item-property-name {
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	font-size: 13px;
	line-height: 20px;
}

.item-property {
	margin: 0;
	padding: 0;
	padding-right: 75px;
	padding-bottom: 5px;
	text-align: left;
}

.popular-menu {
	margin-bottom: 80px;
}

.popular-menu-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.popular-menu-img {
	display: flex;
	width: 160px;
	height: 160px;
	background-color: #f7e296;
	margin-bottom: 30px;
	justify-content: center;
	align-items: center;
	fill: #363636;
}

.popular-monopod {
	align-items: flex-end;
}

.popular-link {
	display: inline-block;
	width: 160px;
	margin-right: 40px;
}

.popular-link:hover .popular-menu-img {
	background-color: #f0c52e;
}

.popular-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.popular-link:active .populars {
	fill: rgba(54, 54, 54, 0.3);
}

.purchase-delivery-credit {
	display: flex;
	margin-bottom: 95px;
	background-image: linear-gradient(to bottom, #ffffff 26%, #e5e5e5 26%, #e5e5e5 75%);
	justify-content: center;
}

.sales-left-column {
	display: flex;
	margin-bottom: 68px;
}

.sales-list {
	margin: 0;
	padding: 0;
	padding-top: 81px;
}

.sales {
	display: inline-block;
	min-width: 160px;
	padding: 0;
	padding-top: 8px;
	min-height: 30px;
	margin: 0;
	margin-bottom: 25px;
	text-align: center;
	background-image: linear-gradient(to bottom, #e5e5e5 45%, #f0c52e 40%, #f0c52e 60%, #e5e5e5 55%);
}

.sales:hover {
	background: #f0c52e;
}

.sales:active,
.sales-delivery {
	display: inline-block;
	width: 258px;
	min-height: 30px;
	background: #000000;
	color: #f7e184;
	padding-left:20px;
	padding-top: 8px;
	text-align: left;
}

.decor-line {
	display: inline-block;
	width: 7px;
	min-height: 319px;
	background-color: #000000;
	margin: 0;
	padding: 0;
	margin-right: 117px;
}

.sales-info {
	width: 300%;
	padding-top: 82px;
}

.sales-info-delivery {
	background: url("../img/delivery.png") no-repeat;
	background-position: 89% 85px;
	width: 760px;
}

.sales-info-warranty {
	display: none;
	background: url("../img/warranty.png") no-repeat;
	background-position: 89% 89px;
	width: 760px;
}

.sales-info-credit {
	background: url("../img/credit.png") no-repeat;
	background-position: 89% 89px;
	width: 760px;
	display: none;
}

.delivery-head,
.delivery-text,
.warranty-head,
.credit-head,
.warranty-text,
.credit-text {
	display: inline-block;
	width: 500px;
	margin: 0;
	padding: 0;
	padding-right: 60px;
}

.delivery-head,
.warranty-head,
.credit-head {
	margin-bottom: 40px;
}

.partners-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 70px;
}

.link-to-partner:hover {
	filter: grayscale(100%);
	opacity: 0.2;
}

/*СТИЛИ ФИЛЬТРА СТОИМОСТИ НАЧАЛО, необх. доработать*/
.price-range-filter {
	position: relative;
	border: none;
	padding: 0;
}

.range-controls {
	position: relative;
	padding-top: 20px;
	padding-bottom: 5px;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 60%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 10px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: -7px;
}

.range-controls .toggle-max {
	left: 105px;
}

.price-controls {
	font-family: "Gilroy Light", "Arial", "Verdana", sans-serif;
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 35px;
}

.range-label {
	display: inline-block;
	color: rgba(0, 0, 0, 0.2);
}

.range-input {
	width: 50px;
	border: none;
	background-color: #eeeeee;
	color: rgba(0, 0, 0, 0.2);
	padding-right: 15px;
}
